<?xml version='1.0' encoding='utf-8'?>
<widget id="com.byzcode.catalogo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Catalogo</name>
  <description>Catálogo multimedia offline</description>
  <author email="tuemail@ejemplo.com">Jose</author>
  <content src="index.html" />
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="portrait" />
  <platform name="android" />
</widget>


